.bash_profile
.bash_login
.profile
.bashrc
.bash_logout

.envrc

.lesshst

.motd_shown

.ssh

.viminfo

.zlogin
.zprofile
.zshrc

.config/p10k
.config/oh-my-zsh/custom/themes/powerlevel10k

.config/asdf

.config/oh-my-zsh/custom/plugins/zsh-autosuggestions
.config/direnv
.config/oh-my-zsh/custom/plugins/zsh-asdf-direnv
