{{- $wsl := false -}}
{{- $win_user_profile := "" -}}
{{- $win_home := "" -}}
{{- $win_system_root := "" -}}
{{- $win_system := "" -}}
{{- $homebrew_prefix := "" -}}

{{- if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
{{-   $wsl = true -}}
{{-   $win_user_profile = output "wslvar" "USERPROFILE" | trim -}}
{{-   $win_home = output "wslpath" $win_user_profile  | trim -}}
{{-   $win_system_root = output "wslvar" "SYSTEMROOT" | trim -}}
{{-   $win_system = output "wslpath" $win_system_root | trim -}}
{{- end -}}

{{- if (eq .chezmoi.os "linux") -}}
{{-   $homebrew_prefix = "/home/linuxbrew/.linuxbrew" -}}
{{- else if (eq .chezmoi.os "darwin") -}}
{{-   if (eq .chezmoi.arch "arm64") -}}
{{-     $homebrew_prefix = "/opt/homebrew" -}}
{{-   else -}}
{{-     $homebrew_prefix = "/usr/local" -}}
{{-   end -}}
{{- end -}}

[data]
  wsl = {{ $wsl }}
  win_home = {{ $win_home | quote }}
  win_home_relative = {{ clean (print (repeat (int (sub (len (splitList "/" .chezmoi.sourceDir)) 1)) "../") $win_home) | quote }}
  win_system = {{ $win_system | quote }}
  win_system_relative = {{ clean (print (repeat (int (sub (len (splitList "/" .chezmoi.sourceDir)) 1)) "../") $win_system) | quote }}
  xdg_bin_home = ".local/bin"
  homebrew_prefix = "{{ $homebrew_prefix }}"

{{ if (eq .chezmoi.os "darwin") -}}
[[textconv]]
pattern = "**/*.plist"
command = "plutil"
args = ["-convert", "xml1", "-o", "-", "-"]
{{- end }}

[diff]
  pager = "delta \"$(if [ $(tput cols) -gt 160 ]; then echo '-s'; else echo '--pager=less'; fi)\""

[onepassword]
  mode = "service"
{{ if (.wsl) -}}
  command = "/mnt/c/ProgramData/chocolatey/bin/op.exe"
{{- end }}
