#! /usr/bin/env zsh
# shellcheck shell=bash

# MacOS has the utility `path_helper`, used in the `/etc/zprofile`
# This utility doesn't preserve `PATH` and `MANPATH` order
# This behavior prevents us to customize the both variables in `.zshenv`
# See `dotfiles/dot_zshenv.tmpl` for configuration files loading
path=("${HOMEBREW_PREFIX}/bin" $path)
path=("${HOMEBREW_PREFIX}/sbin" $path)
export MANPATH="${HOMEBREW_PREFIX}/share/man${MANPATH+:$MANPATH}:";

# Tied path to the PATH variable, ensure path entries are deduplicated and export `PATH`
typeset -TUx PATH path
