#! /usr/bin/env zsh
# shellcheck shell=bash

export LC_ALL="en_US.UTF-8"

if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR="vim"
else
  export EDITOR="code --wait"
fi

export VISUAL="code --wait"

# Brew
export HOMEBREW_GITHUB_API_TOKEN={{ (bitwardenFields "item" "Homebrew").HOMEBREW_GITHUB_API_TOKEN.value }}
export HOMEBREW_PREFIX="{{ .homebrew_prefix }}";
export HOMEBREW_CELLAR="${HOMEBREW_PREFIX}/Cellar";
export HOMEBREW_REPOSITORY="${HOMEBREW_PREFIX}/Homebrew";
export INFOPATH="${HOMEBREW_PREFIX}/share/info:${INFOPATH:-}";

export ASDF_CONFIG_FILE="${XDG_CONFIG_HOME}/asdf/asdfrc"
export ASDF_DATA_DIR="${XDG_CONFIG_HOME}/asdf"

export GNUPGHOME="${XDG_CONFIG_HOME}/gnupg"

# Ensure path entries are deduplicated
typeset -U path PATH
