#! /usr/bin/env zsh
# shellcheck shell=bash

{{ if (eq .chezmoi.os "darwin") -}}
{{   if (stat "/opt/homebrew/bin/brew") -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{   else if (stat "/opt/local/bin/brew") -}}
eval "$(/opt/local/bin/brew shellenv)"
{{   end -}}
{{ end -}}

{{ if (eq .chezmoi.os "darwin") -}}
path=("/Applications/Visual Studio Code.app/Contents/Resources/app/bin" $path)
{{ end -}}

{{ if (gt (len (env "OP_SERVICE_ACCOUNT_TOKEN")) 0) -}}
export OP_SERVICE_ACCOUNT_TOKEN="{{- env "OP_SERVICE_ACCOUNT_TOKEN" -}}"
{{   if (.wsl) -}}
export WSLENV="OP_SERVICE_ACCOUNT_TOKEN/w:${WSLENV}"
{{   end -}}
{{ end -}}

export OP_PIN_ITEM="op://chezmoi/GPG key new/password"

# Tied path to the PATH variable, ensure path entries are deduplicated and export `PATH`
typeset -TUx PATH path
