[user]
	email = elindorath@gmail.com
	name = Joachim Westphal
	signingkey = 16879A4B
[push]
	default = simple
[core]
	editor = code --wait
	excludesfile = {{ .chezmoi.homeDir }}.gitignore_global
	sshCommand = "ssh -F ${XDG_CONFIG_HOME}/ssh/config"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[gpg]
	program = {{ .homebrew_prefix }}/bin/gpg
[pull]
	rebase = true
[credential]
	helper = rbw
