# If pinentry-touchid doesn't work, make sure pinentry-mac is properly configured
# See: https://github.com/jorgelbg/pinentry-touchid/pull/6/files
pinentry-program {{ .homebrew_prefix }}/bin/pinentry-touchid
