{{ if (eq .chezmoi.os "darwin") -}}
# If pinentry-touchid doesn't work, make sure pinentry-mac is properly configured
# See: https://github.com/jorgelbg/pinentry-touchid/pull/6/files
pinentry-program {{ .homebrew_prefix }}/bin/pinentry-touchid
{{- else if (.wsl) -}}
pinentry-program {{ .chezmoi.homeDir }}/dev/mine/pinentry-1password/main.js
{{- end }}
